.client {
  width: 70%;
  margin: auto;
}

.cards {
  display: flex;
}

@media only screen and (max-width: 670px) {
  .cards {
   display: grid;
  }
}

.cards > .user {
  margin: 20px;
  border: 2px solid #c372e5;
  border-radius: 20px;
  padding: 20px;
}

.user1 {
    box-shadow: 0px 0px 20px 25px #D2D2D2
}

.userDetails {
  display: flex;
}

.userDetails {
  margin: auto 20px;
}
