.header {
  padding: 30px 50px;
  background-color: white;
  color: #909090;
  font-weight: 700;
}

.mobileView {
   display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 600;
  color: #aaaaaa;
}

.logoContainer {
  display: inline;
}

.menuButton {
  font-weight: 700 !important;
  size: 18px !important;
  margin: 10px !important
}

.toolBar {
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 20px 30px;
}
