.fill-window {
  position: absolute;
  left: 0;
  width: 100%;
  overflow-x: hidden;
}

.fill-window ::-webkit-scrollbar {
  display: none;
}

.exafill-window mple {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
